@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bitcount: var(--font-bitcount);
  --font-macondo: var(--font-macondo);
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes glow {
  0%,
  100% {
    box-shadow:
      0 0 20px rgba(6, 182, 212, 0.5),
      0 0 40px rgba(6, 182, 212, 0.3),
      0 0 60px rgba(6, 182, 212, 0.1);
  }
  50% {
    box-shadow:
      0 0 30px rgba(168, 85, 247, 0.5),
      0 0 60px rgba(168, 85, 247, 0.3),
      0 0 90px rgba(168, 85, 247, 0.1);
  }
}

.neon-card {
  animation: glow 3s ease-in-out infinite;
}
